.ui.card > .image > img, .ui.cards > .card > .image > img {
  width: auto;
  margin: 0 auto;
}

.dimmer-flex > .content > .center > .button {
  margin-top: 2rem;
}

.ui.cards.cardholder {
  margin: 3.5em 1em;
}